<div class= "container">
  <div class="gallery__page">
    <div class="gallery__warp"> 

<p>
  <%= image_tag @photo.image_url if @photo.image %>
</p>


<p>
  <strong>By <%= link_to "#{@photo.user.slug.capitalize}", @photo.user %></strong>
</p>

<p>
  <strong>Title:</strong>
  <%= @photo.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @photo.body %>
</p>


<hr>


<%= render 'comments/comment' %>


<p>
<%= render 'comments/form' %>
</p>

<p>
  <%= link_to ('<i class="far fa-thumbs-up" aria-hidden="true" ></i>').html_safe, upvote_photo_path(@photo), method: :put  %> 
  <%= @photo.get_upvotes.size %>
  <%= link_to  ('<i class="far fa-thumbs-down" aria-hidden="true" ></i>').html_safe, downvote_photo_path(@photo), method: :put %> 
  <%= @photo.get_downvotes.size %>
 </p>

    <p>
    <% if current_user.id == @photo.user_id %>
    <%= link_to 'Edit', edit_photo_path(@photo) %> |
    <%= link_to 'Delete Photo', photo_path(@photo), method: :delete %>
    <%= render 'photos/form_b' %>
    <% end %>
    </p>

    <p> 
    <strong>Tags:</strong>
      <%= raw @photo.tag_list.map { |t| link_to t, label_path(t)}.join('| ')%>|
    <% @photo.labels.each do |label| %>
    <%= link_to label.tag, added_tags_path(label) %>|
    <% end %>
    </p>
    
    </div>
  </div>
</div>


