<div class= "container">
  <div class="gallery__page">
    <div class="gallery__warp"> 

<p>
  <%= image_tag @photo.image_url if @photo.image %>
</p>


<p>
  <strong>By <%= link_to "#{@photo.user.slug.capitalize}", @photo.user %></strong>
</p>

<p>
  <strong>Title:</strong>
  <%= @photo.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @photo.body %>
</p>


<hr>


<%= render 'comments/comment' %>


<p>
<%= render 'comments/form' %>
</p>

    <p>
    <% if current_user.id == @photo.user_id %> 
    <%= link_to 'Edit', edit_photo_path(@photo) %> |
    <%= link_to 'Delete Photo', photo_path(@photo), method: :delete %>
    <%= render 'labels/form' %>
    <% end %>
    </p>

    <p>
      <strong>Tags:</strong>
      <% @photo.labels.each do |label| %>
      <%= link_to label.tag, label_path(label) %> | 
      <% end %>
    </p>
    </div>
  </div>
</div>


