
<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @photo.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @photo.body %>
</p>

<p>
  <strong>Image data:</strong>
  <%= image_tag @photo.image_url if @photo.image %>
</p>

<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>

<%= link_to 'Destroy', photo_path, method: :delete, data: { confirm: 'Are you sure yeah!!?' } %>
