<!-- Header Section -->	
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-4 col-md-3 order-2 order-sm-1">
				</div>
				<div class="col-sm-4 col-md-6 order-1  order-md-2 text-center">
					<a href="./index.html" class="site-logo">
						<img src="35mm/img/logo.png" alt="">
					</a>		
				</div>
			</div>
			<nav class="main__menu">
				<ul class="nav__menu">
				<% if user_signed_in? %>
				<li><%= link_to 'Home', root_path(current_user) %></li>
				<li><%= link_to 'See your Photos', user_path(current_user) %></li>
				<li><%= link_to 'All Photos Gallery', photos_path %></li>
                <li><%= link_to 'Upload a Photo', new_photo_path %></li>
				<li><%= link_to 'Explore', labels_path %></li>	
				<% else %>
				<div class= "center-this1">
				  <p>
    			  <strong><h2>Share your awesome Photos</h2></strong>
  				  </p>
				</div>
				<% end %>
				</ul>
			</nav>
		</div>
	
	<!-- Header Section end -->

	<style>
     .center-this1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
     }

	  .center-this {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        min-height: 30vh;
     }
</style>