<!-- Header Section -->
	<header class="header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-4 col-md-3 order-2 order-sm-1">
					<div class="header__social">
						<a href="#"><i class="fa fa-facebook"></i></a>
						<a href="#"><i class="fa fa-twitter"></i></a>
						<a href="#"><i class="fa fa-instagram"></i></a>
					</div>
				</div>
				<div class="col-sm-4 col-md-6 order-1  order-md-2 text-center">
					<a href="./index.html" class="site-logo">
						<img src="35mm/img/logo.png" alt="">
					</a>
				</div>
				<div class="col-sm-4 col-md-3 order-3 order-sm-3">
					<div class="header__switches">
						<a href="#" class="search-switch"><i class="fa fa-search"></i></a>
						<a href="#" class="nav-switch"><i class="fa fa-bars"></i></a>
						<a href="#"><i class="fa fa-shopping-cart"></i></a>
					</div>
				</div>
			</div>
			<nav class="main__menu">
				<ul class="nav__menu">
				<% if user_signed_in? %>
                <li><%= link_to 'Upload a Photo', new_user_photo_path(current_user) %></li>
				<li><%= link_to 'See your Photos', user_path(current_user) %></li>
				<li><%= link_to 'All Photos Gallery', photos_path %></li> 
					<li><a href="./contact.html">Contact</a></li>
				<li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
				<% else %>
				<li><a> <%= link_to "Login", new_user_session_path %> </a></li>
				<li><%= link_to "SignUp", new_user_registration_path %></li>
				<li><a href="./contact.html">About</a></li>
				<% end %>
				<!--<li><a href="./index.html" class="menu--active">Home</a></li>-->
				<!--	<li><a href="./about.html">About</a></li>-->
				</ul>
			</nav>
		</div>
	</header>
	<!-- Header Section end -->